body {
    background-color: tan;
}

#burgerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 { 
    text-align: center;
}

h5 {
    text-align: center;
}

#left-side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    border: 3px solid black;
}

#left-burger {
    list-style-type: none;
}

#right-side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    border: 3px solid black;
    float: none
}

#right-burger {
    list-style-type: none;
}

#add-burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
    border: 3px solid black;
    
}

#input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}